body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-image: url("img/background.png");
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  background-color: rgb(255, 184, 118);

}
section {
  background-color: whitesmoke;
  padding: 8px;
}
.vl {
  border-left: 1px darkgray solid;
  height: 20px;
}

.linkflex {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-self: center;
  color: grey;
}

.myname {
  display: flex;
  justify-content: space-around;
  width: 240px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 23px;
  font-weight: bold;
  padding: 5px;
}
.aboutme {
  display: block;
  width: 100%;
  font-size: 20px;
}
.aboutmebody {
  padding-top: 5px;
}

.bpicdiv {
  height: 223px;
  width: 225px;
  margin-bottom: 1px;
  margin-right: 10px;
  float: left;
  border: black 5px solid;
  border-radius: 5px;
}

@media screen and (max-width: 610px) {
  header {
    display: block;
    padding-bottom: 5px;;
  }
  .linkflex {
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3px;
  }
  .myname {
    width: 100%;

  }
  .aboutmebody {
    display: block;
  }
  .bpic {
    display: block;
  }
}
